:root {
  --text-color: #1d292d;
  --text-size: 1.1rem;
  --heading-family: 'Playfair Display', serif;

  --heading-color: #111;
  --heading-size: 2.6rem;
  --text-family: 'Libre Baskerville', serif;

  --subheading-size: 0.8rem;
  --subheading-color: #bbb;

  --meta-size: 1rem;
  --meta-color: #bbb;
}
