.TextBlock {
  font-size: var(--text-size);
  width: 100%;
  overflow: inherit;
}

/**
 * Headers
 */

.TextBlock h1,
.TextBlock h2,
.TextBlock h3,
.TextBlock h4,
.TextBlock h5,
.TextBlock h6 {
  font-family: var(--heading-family);
  color: var(--heading-color);
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  line-height: var(--heading-line);
}

.TextBlock h1 {
  font-size: var(--heading-level1-size);
  margin: var(--heading-level1-margins);
}

.TextBlock h2 {
  font-size: var(--heading-level2-size);
  margin: var(--heading-level2-margins);
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--line-light);
}

.TextBlock h3 {
  font-size: var(--heading-level3-size);
  margin: var(--heading-level3-margins);
  text-transform: uppercase;
}

.TextBlock h4 {
  font-size: var(--heading-level4-size);
  margin: var(--heading-level4-margins);
  font-weight: var(--heading-weight-bold);
}

.TextBlock h5 {
  font-size: var(--heading-level5-size);
  margin: var(--heading-level5-margins);
}

.TextBlock h6 {
  font-size: var(--heading-level6-size);
  margin: var(--heading-level6-margins);
}

/**
 * Textual
 */

.TextBlock p {
  font-family: var(--text-family);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-line);
  word-wrap: break-word;
  margin: 0 0 1em;
}

.TextBlock a {
  color: inherit;
  background-image: linear-gradient(to bottom, transparent 37%, var(--link-background) 37%);
  background-size: 100% 300%;
  background-position: 0 10%;
  transition-property: background-position;
  transition-duration: 0.4s;
  outline: none;
}

.TextBlock a:hover {
  background-position: 0 100%;
}

/**
 * Code
 */

.TextBlock pre {
  background: var(--code-background);
  padding: 1.3em 2em;
  margin: 0.5em -2em 1.2em;
  line-height: 1;
  overflow-x: auto;
}

.TextBlock code {
  background: var(--code-background);
  padding: 0 0.3em 0.2em;
  color: var(--code-color);
  border-radius: 3px;
}

.TextBlock pre code {
  background: unset;
  padding: 0;
  font-size: 0.8em;
  white-space: pre;
}

/**
 * Listings
 */

.TextBlock ul,
.TextBlock ol {
  font-family: var(--text-family);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-line);
  margin: 0.5em 0 1.2em 1em;
  padding: 0 0 0 1em;
}

.TextBlock ul {
  list-style: initial;
}

.TextBlock ol {
  list-style: decimal;
}

.TextBlock ul ul,
.TextBlock ol ol {
  margin-bottom: 0.5em;
}

.TextBlock li {
  margin: 0;
}

.TextBlock ul ul li {
  list-style: circle;
}

.TextBlock ul ul ul li {
  list-style: square;
}

.TextBlock ul ul ul ul li {
  list-style: initial;
}

/**
 * Misc
 */

.TextBlock hr {
  margin: 3rem 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid var(--line-heavy);
}

/**
 * Tables
 */

.TextBlock table {
  display: block;
  width: 100%;
  overflow: auto;
}

.TextBlock table tr {
  background-color: #fff;
  border-top: 1px solid var(--line-heavy);
}

.TextBlock table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.TextBlock table th {
  font-weight: 600;
}

.TextBlock table th,
.TextBlock table td {
  padding: 0.5em 1em;
  border: 1px solid var(--line-light);
}

.TextBlock table td {
  font-weight: var(--text-weight);
}

/**
 * Media
 */

.TextBlock img {
  max-width: 100%;
}

.TextBlock figure {
  margin: 1.5em 0;
  text-align: center;
}

.TextBlock figcaption {
  font-size: var(--meta-size);
  color: var(--meta-color);
  font-style: italic;
  text-align: center;
}

/**
 * TextBlock quirks
 */

.TextBlock > :first-child {
  margin-top: 0;
}

.TextBlock > :last-child {
  margin-bottom: 0;
}
