.PostsListing {
  font-size: var(--text-size);
}

.PostsListing__each {
  margin: 0 0 2em;
}

.PostsListing__each:last-of-type {
  margin: 0;
}

.PostsListing__link {
  display: block;
  position: relative;
}

.PostsListing__title {
  color: var(--heading-color);
  font-size: var(--heading-size);
  margin: 0 0 0.3em;
}

.PostsListing__link:hover .PostsListing__title {
  text-decoration: underline;
}

.PostsListing__date {
  color: var(--meta-color);
  font-size: var(--meta-size);
  margin-bottom: 0.5em;
}

.PostsListing__excerpt {
  color: var(--text-color);
}
