.PostsListing {
  font-size: 1rem;
}

.PostsListing__each {}

.PostsListing__link {
  display: block;
  position: relative;
  margin: 1.5rem 0;
}

.PostsListing__title {
  color: var(--heading-color);
  font-size: var(--heading-size);
  margin-bottom: 0.5em;
}

.PostsListing__link:hover .PostsListing__title {
  text-decoration: underline;
}

.PostsListing__date {
  color: var(--meta-color);
  font-size: var(--meta-size);
  margin-bottom: 0.5em;
}

.PostsListing__excerpt {
  color: var(--text-color);
  font-size: var(--text-size);
}
