.PostsListing {
  font-size: var(--text-size);
  padding: 2em 2em 3em;
}

.PostsListing__each {
  margin: 0 0 2em;
}

.PostsListing__each:last-of-type {
  margin: 0;
}

.PostsListing__link {
  display: block;
  position: relative;
}
