.Layout-Languages {
  display: flex;
  font-size: var(--text-size);
}

.Layout-Languages__each {
  font-size: 0.7em;
  margin-right: 5px;
  cursor: pointer;
}

.Layout-Languages__each--active {
  font-weight: bold;
}
