---
import TextBlock from './TextBlock.astro';

interface Props {
  title: string;
  body?: string;
}

const { title, body } = Astro.props;
---

<div class="category-details">
  <TextBlock>
    <h1><small>Category:</small><br />{title}</h1>
    {body && <Fragment set:html={body} />}
    <hr />
  </TextBlock>
</div>

<style>
  .category-details {
    font-size: var(--text-size);
    margin: 0 0 2em;
  }
</style>
