---
---

<div class="sankey-chart">
  <p>
    <em>Interactive D3.js Sankey chart — see the
    <a href="https://github.com/bernardodiasc/hello-world/tree/master/my-d3-diagrams">source code on GitHub</a></em>
  </p>
</div>

<style>
  .sankey-chart {
    padding: 1em 0;
    text-align: center;
    color: var(--meta-color);
  }
</style>
