.PostHeader {
  font-size: var(--text-size);
}

.PostHeader__title {
  display: flex;
  align-items: center;
  color: var(--heading-color);
  font-size: var(--heading-level1-size);
  margin: 0 0 0.3em;
}

.PostHeader--listing .PostHeader__title {
  font-size: var(--heading-level2-size);
}

.PostHeader--listing:hover .PostHeader__title {
  text-decoration: underline;
}

.PostHeader__icon {
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  margin: 0 4px 0 0;
}

.PostHeader--details .PostHeader__icon {
  height: 1em;
  width: 1em;
  margin: 0 5px 0 0;
  transform: translateY(-3px);
}

.PostHeader__meta {
  color: var(--meta-color);
  font-size: var(--meta-size);
  margin: 0 0 1em;
}

.PostHeader__category {
  margin: 0 0 0.5em;
}

.PostHeader__category-link {
  display: flex;
  align-items: center;
  color: var(--heading-color);
}

.PostHeader__category-link:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.PostHeader__excerpt {
  color: var(--text-color);
}
