::selection {
  background-color: #2f2f2f;
  color: #eee;
}

* {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  color: var(--text-color);
  font-size: var(--text-size);
}
