:root {
  --main-background: #104493;
  --content-background: #fff;

  --text-family: 'Karma', serif;
  --text-color: #2f2f2f;
  --text-size: 1.3rem;
  --text-weight: 400;
  --text-line: 1.5;

  --heading-family: 'Cairo', sans-serif;
  --heading-color: #2b5ead;
  --heading-size: 2.2rem;
  --heading-weight: 400;
  --heading-weight-bold: 700;
  --heading-line: 1.1;

  --heading-level1-size: 1.6em;
  --heading-level1-margins: 1.5em 0 0.7em;

  --heading-level2-size: 1.3em;
  --heading-level2-margins: 1.5em 0 0.7em;

  --heading-level3-size: 1.1em;
  --heading-level3-margins: 2em 0 1em;

  --heading-level4-size: 1em;
  --heading-level4-margins: 2em 0 1em;

  --heading-level5-size: 1em;
  --heading-level5-margins: 2em 0 1em;

  --heading-level6-size: 1em;
  --heading-level6-margins: 2em 0 1em;

  --meta-size: 1rem;
  --meta-color: #999;

  --line-heavy: #ccc;
  --line-light: #ddd;

  --link-background: #fdef0080;

  --box-shadow: 6px 5px 3px 0 rgba(45, 45, 45, 0.4);
}
