.Layout {
  font-size: var(--text-size);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(/images/blueprint.jpg);
  background-color: var(--main-background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Layout__content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 0 5em 8em;
  margin: 0 auto;
}

.Layout__content-inner {
  background: var(--content-background);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  overflow-x: auto;
}

.Layout__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 2em 6em 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.Layout__header-title {
  color: white;
  font-size: var(--heading-size);
  font-weight: var(--heading-weight-bold);
  font-style: italic;
  margin: 0 0 0.5em;
}

.Layout__header-title a,
.Layout__header-title a:visited {
  color: inherit;
}

@media only screen and (max-width: 1023px) {
  .Layout__content {
    padding: 0 1em 8em;
  }

  .Layout__header {
    padding: 2em 2em 0;
  }
}
