.Layout {
  font-size: var(--text-size);
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(/images/blueprint.jpg);
  background-color: var(--main-background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Layout__content {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 1em 1em 8em;
  background: var(--content-background);
  box-shadow: var(--box-shadow);
  padding: 2em 2em 3em;
  border-radius: 4px;
}

.Layout__headerbar {
  width: 300px;
  padding: 3em 1em;
}
