.Layout-HeaderBar {
  display: flex;
  font-size: 1rem;
  align-items: baseline;
  padding: 1em 0;
  position: relative;
}

.Layout-HeaderBar a,
.Layout-HeaderBar a:visited {
  color: var(--heading-color);
}

.Layout-HeaderBar__title {
  flex: 1;
  color: var(--heading-color);
  font-size: var(--heading-size);
}

.Layout-HeaderBar__social {
  font-size: 0.7em;
  padding: 0 0 0 1.5em;
}

.Layout-HeaderBar__social:hover::after {
  content: '⤴';
  position: absolute;
}

.Layout-HeaderBar__languages {
  position: absolute;
  top: 0;
  right: 0;
}
