.Layout-HeaderBar {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  color: white;
}

.Layout-HeaderBar a,
.Layout-HeaderBar a:visited {
  color: inherit;
}

.Layout-HeaderBar__title {
  color: inherit;
  font-size: var(--heading-size);
  margin: 0;
}

.Layout-HeaderBar__social {
  font-size: 0.7em;
}

.Layout-HeaderBar__social:hover::after {
  content: '⤴';
  position: absolute;
}

.Layout-HeaderBar__languages {
  margin: 0.5em 0 1em;
}
