:root {
  --text-color: #333;
  --text-size: 16px;

  --heading-color: #111;
  --heading-size: 24px;

  --subheading-size: 20px;
  --subheading-color: #bbb;

  --meta-size: 14px;
  --meta-color: #bbb;
}
